@page
@model SchoolMusic.Web.Pages.Login.LoginTeacherModel
@{
    ViewData["Title"] = "Login Profesor";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-4">
                <h1>Aula virtual de profesores</h1>
            </div>

            <form method="post" >
                <!-- Mostrar errores del modelo -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Campo de Nombre de usuario -->
                <div class="form-group">
                    <label asp-for="Users.Username" class="control-label"></label>
                    <input asp-for="Users.Username" class="form-control" placeholder="Nombre de usuario" />
                    <span asp-validation-for="Users.Username" class="text-danger"></span>
                </div>

                <!-- Campo de Contraseña -->
                <div class="form-group">
                    <label asp-for="Users.UserPassword" class="control-label"></label>
                    <input asp-for="Users.UserPassword" type="password" class="form-control" placeholder="Contraseña" />
                    <span asp-validation-for="Users.UserPassword" class="text-danger"></span>
                </div>

                <!-- Botón de inicio de sesión -->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div>

                <!-- Link de registrarse -->
                <div>
                    <label class="control-label label-black"> Si aún no tienes usuario puedes </label>
                    <a asp-page="/Teachers/Create" class="link-primary linkRes">Registrarte</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-page="/Aula/AulaVirtual" class="btn btn-primary btn-block">Volver a atras</a>
</div>