@page
@model SchoolMusic.Web.Pages.Logins.LoginModel
@{
    ViewData["Title"] = "Inicio sesion";
}

<div class="container d-flex justify-content-center vh-100">
    <div class="row justify-content-center " style="align-content: flex-start; flex-wrap: wrap;">
        <h1 class="text-center mb-4">Aula virtual de EmBenSeMa</h1>
        <div class="col-md-6 p-3 border rounded shadow bg-black">
            <form method="post">
                <!-- Mostrar errores del modelo -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Campo de Nombre de usuario -->
                <div class="form-group mb-3">
                    <label asp-for="Users.Username" class="control-label">Nombre de usuario</label>
                    <input asp-for="Users.Username" class="form-control" placeholder="Nombre de usuario" />
                    <span asp-validation-for="Users.Username" class="text-danger"></span>
                </div>

                <!-- Campo de Contraseña -->
                <div class="form-group mb-3">
                    <label asp-for="Users.UserPassword" class="control-label">Contraseña</label>
                    <input asp-for="Users.UserPassword" type="password" class="form-control" id="passwordField" placeholder="Contraseña" />
                    <span asp-validation-for="Users.UserPassword" class="text-danger"></span>
                </div>

                <!-- Checkbox para mostrar la contraseña -->
                <div class="form-group form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="showPasswordCheckbox" onclick="togglePassword()">
                    <label class="form-check-label" for="showPasswordCheckbox">Mostrar contraseña</label>
                </div>

                <!-- Botón de inicio de sesión -->
                <div class="form-group text-center mb-3">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div>
            </form>
            <!-- Link para recuperar contraseña -->
            <div class="text-center">
                <a asp-page="./RecuperarContrasena" class="link-secondary">¿Olvidaste tu contraseña?</a>
            </div>
            <!-- Link de registrarse -->
            <div class="text-center">
                <label class="control-label">Si aún no tienes usuario puedes</label>
                <a asp-page="./Register" class="link-primary">Registrarte</a>
            </div>
        </div>
    </div>
</div>


