@page
@model SchoolMusic.Web.Pages.Courses.ListaCourse

@{
    ViewData["Title"] = "Lista de cursos";
    if (Model.UserSesion == null)
    {
        Layout = "_Layout";
    }
    if (Model.UserSesion != null)
    {
        Layout = "_LayoutSesion";
        ViewData["userName"] = Model.UserSesion.Username;
        ViewData["ruta"] = "/Aula/AulaStudent";
        ViewData["id"] = Model.UserSesion.IdUser;
    }
}
<div class="text-center">
    <h1>Cursos de EmBenSeMa</h1>
</div>

<div> 
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
    @foreach (var cou in Model.Course) 
    {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="@cou.ImagenURL" class="card-img top" alt="Imagencurso">
                    <div class="card-body"> 
                        <h5 class="card-title">Curso de @cou.Instrument</h5> 
                    </div>
                    <div class="card-body">
                        <a class="card-link" asp-page="/Courses/InfoCourse" asp-route-idUser="@Model.UserSesion?.IdUser" asp-route-idCourse="@cou.IdCourse">Mas información</a> >>>
                    </div> 
                </div> 
            </div> 
    } 
    </div> 
</div> 
