@page
@model SchoolMusic.Web.Pages.Cursadas.CreateModel

@{
    ViewData["Title"] = "Nueva cursada";
}
<div class="text-center">
    <h1>Nueva cursada</h1>
</div>

<h4>Datos de tu nueva cursada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cursada.Initiation" class="control-label"></label>
                <input asp-for="Cursada.Initiation" class="form-control" type="date" />
                <span asp-validation-for="Cursada.Initiation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Finish" class="control-label"></label>
                <input asp-for="Cursada.Finish" class="form-control" type="date"/>
                <span asp-validation-for="Cursada.Finish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.StarTime" class="control-label"></label>
                <input asp-for="Cursada.StarTime" class="form-control" />
                <span asp-validation-for="Cursada.StarTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.EndTime" class="control-label"></label>
                <input asp-for="Cursada.EndTime" class="form-control" />
                <span asp-validation-for="Cursada.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Vacantes" class="control-label"></label>
                <input asp-for="Cursada.Vacantes" class="form-control" />
                <span asp-validation-for="Cursada.Vacantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Days" class="control-label"></label>
                <input asp-for="Cursada.Days" class="form-control" />
                <span asp-validation-for="Cursada.Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Description" class="control-label"></label>
                <input asp-for="Cursada.Description" class="form-control" />
                <span asp-validation-for="Cursada.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.PayFee" class="control-label"></label>
                <input asp-for="Cursada.PayFee" class="form-control" />
                <span asp-validation-for="Cursada.PayFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=" Crear " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
