@page
@model SchoolMusic.Web.Pages.Cursadas.CreateModel

@{
    ViewData["Title"] = "Nueva cursada";
    Layout = "_LayoutSesion";
}
<div class="text-center">
    <h1>Nueva cursada</h1>
</div>

<h4>Datos de tu nueva cursada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cursada.IdCourse" class="control-label"> Instrumento </label>
                <select asp-for="Cursada.IdCourse" class="form-control">
                    <option value="">Selecciona un instrumento</option>
                    <option value="2004">Piano</option>
                    <option value="2005">Guitarra</option>
                    <option value="2006">Bateria</option>
                    <option value="2007">Saxo</option>
                    <option value="2008">Bajo</option>
                    <option value="2009">Canto</option>
                </select>
                <span asp-validation-for="Cursada.IdCourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Initiation" class="control-label"> Fecha de inicio </label>
                <input asp-for="Cursada.Initiation" class="form-control" type="date" />
                <span asp-validation-for="Cursada.Initiation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Finish" class="control-label">Fecha de finalización </label>
                <input asp-for="Cursada.Finish" class="form-control" type="date"/>
                <span asp-validation-for="Cursada.Finish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.StarTime" class="control-label"> Hora de inicio </label>
                <input asp-for="Cursada.StarTime" class="form-control" />
                <span asp-validation-for="Cursada.StarTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.EndTime" class="control-label"> Hora en que termina </label>
                <input asp-for="Cursada.EndTime" class="form-control" />
                <span asp-validation-for="Cursada.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Vacantes" class="control-label"> Número de vacantes </label>
                <input asp-for="Cursada.Vacantes" class="form-control" />
                <span asp-validation-for="Cursada.Vacantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Days" class="control-label"> Dias de cursada </label>
                <input asp-for="Cursada.Days" class="form-control" />
                <span asp-validation-for="Cursada.Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.Description" class="control-label"> Descripción del contenido </label>
                <input asp-for="Cursada.Description" class="form-control" />
                <span asp-validation-for="Cursada.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursada.PayFee" class="control-label"> Precio de la inscripción </label>
                <input asp-for="Cursada.PayFee" class="form-control" />
                <span asp-validation-for="Cursada.PayFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=" Crear cursada " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
