@page
@model SchoolMusic.Web.Pages.Teachers.CreateModel

@{
    ViewData["Title"] = "Nuevo Profesor";
}

<h1>Nuevo Profesor</h1>
<h3>Paso 2: Datos del profesor</h3>
<h4>Completa los campos con tus datos personales</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <form method="post" class="w-100">
            <div class="row">
                <!-- Primera columna (lado izquierdo) -->
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Teacher.NameTeacher" class="control-label"></label>
                        <input asp-for="Teacher.NameTeacher" class="form-control" />
                        <span asp-validation-for="Teacher.NameTeacher" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Teacher.Surname" class="control-label"></label>
                        <input asp-for="Teacher.Surname" class="form-control" />
                        <span asp-validation-for="Teacher.Surname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Teacher.Mail" class="control-label"></label>
                        <input asp-for="Teacher.Mail" class="form-control" />
                        <span asp-validation-for="Teacher.Mail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Teacher.Dni" class="control-label"></label>
                        <input asp-for="Teacher.Dni" class="form-control" />
                        <span asp-validation-for="Teacher.Dni" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Teacher.Age" class="control-label"></label>
                        <input asp-for="Teacher.Age" class="form-control" />
                        <span asp-validation-for="Teacher.Age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Teacher.Genero" class="control-label"></label>
                        <select asp-for="Teacher.Genero" class="form-control">
                            <option value="">Selecciona un género</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <span asp-validation-for="Teacher.Genero" class="text-danger"></span>
                    </div>
                </div>

                <!-- Segunda columna (lado derecho) -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Teacher.Description" class="control-label"></label>
                        <textarea asp-for="Teacher.Description" cols="10" rows="6" placeholder="Detalle sus conocimientos" class="form-control"></textarea><br>
                        <span asp-validation-for="Teacher.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Botón de envío centrado -->
            <div class="form-group text-center">
                <input type="submit" value="Registrarse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Login/LoginTeacher" class="btn btn-primary btn-block">Volver a atras</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
