@page
@model SchoolMusic.Web.Pages.Teachers.EditModel

@{
    ViewData["Title"] = "Editar tu perfil";
}

<h4>Profesor @Model.Teacher.NameTeacher @Model.Teacher.Surname</h4>

<hr />
<div class="row">
    <form method="post" class="w-100" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Teacher.IdTeacher" />
                    <input type="hidden" asp-for="Teacher.IdUser" />
                    <div class="form-group">
                        <label asp-for="Teacher.NameTeacher" class="control-label"></label>
                        <input asp-for="Teacher.NameTeacher" class="form-control" />
                        <span asp-validation-for="Teacher.NameTeacher" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Surname" class="control-label"></label>
                        <input asp-for="Teacher.Surname" class="form-control" />
                        <span asp-validation-for="Teacher.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Mail" class="control-label"></label>
                        <input asp-for="Teacher.Mail" class="form-control" />
                        <span asp-validation-for="Teacher.Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Dni" class="control-label"></label>
                        <input asp-for="Teacher.Dni" class="form-control" />
                        <span asp-validation-for="Teacher.Dni" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Age" class="control-label"></label>
                        <input asp-for="Teacher.Age" class="form-control" />
                        <span asp-validation-for="Teacher.Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Genero" class="control-label"></label>
                        <select asp-for="Teacher.Genero" class="form-control">
                            <option value="">Selecciona un género</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <span asp-validation-for="Teacher.Genero" class="text-danger"></span>
                    </div>
                </div>

            <!-- Campo de la foto de perfil -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Foto de perfil</label>
                    <img src="@Model.Teacher.FotoTeacher" alt="Foto de Teacher" class="profesor-foto" />
                    <input type="file" id="ProfileImage" name="ProfileImage" class="form-control" />
                </div>
            </div>


                <div class="form-group text-center">
                    <input type="submit" value="Actualizar datos" class="btn btn-primary" />
                </div>
            </>
            
        </form>
</div>

<div>
    <a asp-page="/Aula/AulaTeacher" asp-route-id="@Model.Teacher?.IdUser" class="btn btn-primary">Volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
