@page
@model SchoolMusic.Web.Pages.Tablons.CreatePostModel

@{
    ViewData["Title"] = "Nueva publicación";
    Layout = "_LayoutSesion";
}

<h1>Nueva publicación de cursada</h1>

<div class="row">
    <div class="col-md-12 contenido-div">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Topic.IdCursada" class="form-control" />
            <div class="form-group">
                <label asp-for="Topic.Title" class="control-label">Titulo de tu publicación</label>
                <input asp-for="Topic.Title" class="form-control" />
                <span asp-validation-for="Topic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.Content" class="control-label">Contenido</label>
                <textarea asp-for="Topic.Content" cols="20" rows="5" placeholder="Anuncia algo en tu cursada" class="form-control"></textarea>
            </div>
            <div class="form-group text-center">
                <input type="submit" value=" Crear " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
