@page
@model PrivacyModel
@{
    ViewData["Title"] = "School Music EmBenSeMa";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <img src="./Instrumentos-musicales-y-calidad-de-sonido.png" alt="Instrumento" />

        <p>
            Este es un proyecto realizado como un MVP (Producto mínimo viable) el cual tiene el propósito de ser lanzado como un intermediario dentro del mundo del aprendizaje musical con disponibilidad en la Republica Argentina, y con la aspiración de llegar a ser un servicio  internacional.​

​
            Buscamos una forma integradora para enlazar a aquellos con deseos​

            de desarrollar sus habilidades artísticas en el ambiente musical​

            y aquellos quienes tienen la experiencia y capacidad para ​

            llevarlos de la mano en su evolución.​

            De esta forma buscamos crear un entorno de enseñanza fluido y ​

            al alcance de todos.
        </p>
</div>

